In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
% matplotlib inline
from datetime import datetime, timedelta

from bs4 import BeautifulSoup as bs
import requests
import re
import pickle

In [3]:
rankings_p = '../data/rankings.p'
headers_p = '../data/headers.p'

# function to scrape marathon data
def scrape_marathon_data():
    years = range(2002, 2018)
    letters = [chr(x + ord('A')) for x in range(0, 26)]

    URL = "https://services.datasport.com/{}/lauf/lamara/ALFA{}.HTM"
    
    rankings = {}
    headers = {}
    for year in years:
        print(str(year) + ": ", end='')
        rankings[str(year)] = []
        for letter in letters:
            r = requests.get(URL.format(year, letter))
            soup = bs(r.text, 'html.parser')
            title = soup.find('title').getText()
            if(title != 'Adresse nicht vorhanden / The address is not available'):
                data = soup.findAll('font', {'size':'2'})

                print(letter, end='')
                headers[str(year)] = data[0].getText()
                rankings[str(year)].extend(re.compile('¦ *\r\n').split(data[1].getText()))
            else:
                print("Skipped")
        print('')

    # Pickle data
    pickle.dump(rankings, open(rankings_p, 'wb'))
    pickle.dump(headers, open(headers_p, 'wb'))
    return rankings, headers

# Only scrape if pickle unavailable
def get_data(force_scrape=False):
    if force_scrape:
        print('Scrape data from website')
        return scrape_marathon_data()
    try:
        print('Trying to load data from pickle')
        return pickle.load(open(rankings_p, 'rb')), pickle.load(open(headers_p, 'rb'))
    except (OSError, IOError) as e:
        print('Failed to load pickle:')
        print(e)
        print('Scrape data from website')
        return scrape_marathon_data()

In [4]:
"""
This function finds the position of where the pages should be split into columns
based on whitespace
"""
def parse_columns(ranking, header):
    column_structure = {}
    column_mask = np.ones(np.array(list(ranking[0])).shape, dtype=bool)
    spaces_mask = np.ones(np.array(list(ranking[0])).shape)*32
    
    # create mask of space positions for field delimiter detection
    for line in ranking[:-1]:
        cur_line = np.array(list(line)).view(np.uint32)
        
        try:
            column_mask = np.logical_and(column_mask, np.equal(cur_line, spaces_mask))
        except:
            #print("Skipped line:", line)
            #print(cur_line.shape, column_mask.shape)
            pass
        
    # include header in space position mask
    header_int = np.array(list(header[:column_mask.shape[0]])).view(np.uint32)
    column_mask = np.logical_and(column_mask, np.equal(header_int, spaces_mask))
        
    # find field delimiter positions
    inside_space_col = False
    delimiters = []
    for i, is_space_col in enumerate(list(column_mask)):
        if is_space_col:
            if not inside_space_col:
                inside_space_col = True
                delimiters.append(i)
                
        elif inside_space_col:
            inside_space_col = False
            
    return delimiters
    

"""
Seperates the lists of lines into columns and create a dictionary of dataframes
"""
def separate_cols(rankings, headers):
    # dictionary to keep dataframes in
    dfs = {}
    for year in rankings:
        ranking = rankings[year]
        header = headers[year]
        
        # fix offset headers in 2007-2009 data
        if year in ['2007', '2008', '2009']:
            header = header.replace('an lieu', 'an   lieu')
        delimiters = parse_columns(ranking, header)

        # find positions for each field
        start = 0
        cols = {} 
        unnamed = 0
        for delimiter in delimiters:
            key = header[start:delimiter+1].strip()
            if key == '':
                key = unnamed
                unnamed += 1
            cols[key] = (start, delimiter+1)
            start = delimiter+1

        start = 0
        result = {}
        for i, line in enumerate(ranking):
            if '\r\ntotal ' not in line and '\r\nTotal' not in line:
                for col in cols:
                    start, end = cols[col]
                    if col in result:
                        result[col].append(line[start:end].strip())
                    else:
                        result[col] = [line[start:end].strip()]
        dfs[year] = pd.DataFrame(result, columns=result.keys()) 
    print('Columns separated')
    return dfs

In [5]:
mapping = {
    'lieu': '',
    0: 'DELETE',
    2: 'DELETE',
    3: 'DELETE',
    'catégorie': '',
    'nom': '',
    1: 'DELETE',
    'temps': '',
    'Jg': 'an',
    'an lieu': '',
    'overall': '',
    'retard': '',
    'équipe': '',
    'moyenne': '',
    'Rang': 'rang',
    'nom/lieu': '',
    'Stnr': 'doss',
    'an': '',
    'pénalité': '',
    'doss': '',
    'temps net': '',
    'rang': '',
    '¦': 'DELETE',
    'équipe/lieu': '',
    'Rückstand': 'retard',
    'Kategorie': 'catégorie',
    'Team/Ortschaft': 'équipe/lieu',
    'Name/Ort': 'nom/lieu',
    'Zeit': 'temps'
}

In [6]:
"""
Where possible, this function matches the names of the columns 
of the individual dataframes
"""
def normalize_column_names(dfs_):
    dfs_c = dfs_.copy()
    for year, _ in dfs_c.items():
        for header_name in list(dfs_c[year]):
            if mapping[header_name] == 'DELETE':
                dfs_c[year] = dfs_c[year].drop(header_name, axis=1)
            elif mapping[header_name] != "":
                dfs_c[year] = dfs_c[year].rename(columns = {header_name : mapping[header_name]})
                print("Renamed {} to {} in year {}".format(
                    header_name, mapping[header_name], year))
    print('Column names normalized')
    return dfs_c
                


def print_col_overview(dfs):
    # fields present in all years
    shared_fields = set.intersection(*[set(v) for k, v in dfs.items()])
    print("Shared fields:", shared_fields)

    fields = set()
    for year in sorted(dfs):
        fields = fields.union(set(list(dfs[year])))
        print(year)
        print(set(dfs[year]).difference(shared_fields))
    print("Union remaining fields:", fields.difference(shared_fields))

In [7]:
def fix_cities(dfs_):
    dfs_c = dfs_.copy()
    """
    Years 2002-2006 have a team/city field and a name/city field.
    If a team is provided, the city is added to the end of the name,
    after a comma (',').
    
    This function removes the teams and converts the column 'équipe/lieu' 
    to a dedicated 'lieu' column
    """
    for year, df in dfs_c.items():
        col_name = 'nom/lieu'
        col_team = 'équipe/lieu'
        if col_name in df:
            for i, row in df.iterrows():
                m = re.compile('(.*), (.*)').match(row[col_name])
                if m is not None:
                    dfs_c[year].at[i, col_name] = m.group(1)
                    dfs_c[year].at[i, col_team] = m.group(2)
            # rename columns
        rename_dict = {col_name : 'nom', col_team: 'lieu'}
        dfs_c[year].rename(columns=rename_dict, inplace=True)
    print('Cities fixed')
    return dfs_c

In [8]:
"""
Returns the fields that are present in all years
"""
def get_shared_fields(dfs):
    return set.intersection(*[set(v) for k, v in dfs.items()])

"""
Returns the fields that are only present in some of the years
"""
def get_unshared_fields(dfs):
    return set.union(*[set(v) for k, v in dfs.items()]).difference(get_shared_fields(dfs))

"""
Deletes columns from dataframes that are only present in some of the years
"""
def drop_uncommon_fields(dfs_):
    dfs_c = dfs_.copy()
    for year, df in dfs_c.items():
        dfs_c[year] = dfs_c[year][list(get_shared_fields(dfs_c))]
    print('Uncommon fields dropped')
    return dfs_c

In [47]:
def create_year_column(dfs_):
    dfs_c = dfs_.copy()
    for year in dfs_c:
        df = dfs_c[year].copy()
        df['race year'] = int(year)
        dfs_c[year] = df
    print('Year column created')
    return dfs_c

In [10]:
def create_merged_df(dfs_):
    return pd.concat(list(dfs_.values()))

In [46]:
def normalize_categories(df_):
    """
    rename important categories and drop unused
    resulting categories are split into two columns:
        - distance
        - gender
    old category column is dropped
    """
    df_c = df_.copy()
    df_c['catégorie'] = df_['catégorie'].replace({
        r'^(\d\d)[-/][MQS]*([DH])\d+$' : r'\1|\2',
        r'^Q([DH])\d$' : r'10|\1',
        r'^S([DH])\d$' : r'21|\1',
        r'^M([DH])\d$' : r'42|\1'
    }, regex = True)
    
    # columns to keep
    keep = [str(x) + '|H' for x in [10, 21, 42]]
    keep.extend([str(x) + '|D' for x in [10, 21, 42]])
    
    # drop all other rows
    df_c = df_c[df_c['catégorie'].isin(keep)]
    
    # split catégorie into two columns
    df_c[['category', 'gender']] = df_c['catégorie'].str.split(
        '|', expand=True
    )
    
    # replace german gender abbreviations
    df_c['gender'] = df_c['gender'].replace({
        'H' : 'male',
        'D' : 'female'
    })
    
    df_c = df_c.drop('catégorie', axis=1)
    
    return df_c

# Scraping, Parsing & Normalization

In [48]:
# Get the data
rankings, headers = get_data()
# Separate data into columns and build dataframes
dfs = separate_cols(rankings, headers)
# Make sure the same columns have the same column names
dfs_n = normalize_column_names(dfs)
# Fix cities which are in the name column in some cases
dfs_f = fix_cities(dfs_n)
# Drop columns that are unique to some years
dfs_d = drop_uncommon_fields(dfs_f)
# Create year columns
dfs_y = create_year_column(dfs_d)

Trying to load data from pickle
Columns separated
Renamed Kategorie to catégorie in year 2002
Renamed Rang to rang in year 2002
Renamed Name/Ort to nom/lieu in year 2002
Renamed Jg to an in year 2002
Renamed Team/Ortschaft to équipe/lieu in year 2002
Renamed Zeit to temps in year 2002
Renamed Rückstand to retard in year 2002
Renamed Stnr to doss in year 2002
Column names normalized
Cities fixed
Uncommon fields dropped
Year column created

In [49]:
# Create final dataframe
df = create_merged_df(dfs_y)
# normalize categories
df = normalize_categories(df)

In [50]:
# Print overview of columns for inspection
df.head()

,rang,retard,lieu,an,nom,temps,doss,race year,category,gender
0,676.,"45.43,3",N-Oteren,1981,Aarskog Kay-Morten,"1:15.48,7",(16798),2017,10,male
1,484.,"53.40,3",Ecublens VD,1994,Abadie Théo,"2:03.37,1",(3616),2017,21,male
2,139.,"23.51,0",St-Légier-La Chiésaz,1966,Abaidia Jilani,"1:45.25,0",(4078),2017,21,male
3,77.,"30.40,6",St-Légier,1972,Abaidia Sandrine,"1:53.23,1",(4076),2017,21,female
4,428.,"23.59,5",Renens VD,1991,Abawi Khaled,"53.23,8",(12280),2017,10,male

# Geocoding

In [59]:
# read location data
df_loc = pd.read_csv('../data/previous version/marathon-data-with-geo.csv')

# get location columns to merge with data
merge_cols = df_loc[[
    'lieu', 'format_city', 'Canton', 
    'country', 'lat', 'lng'
]].drop_duplicates()

# merge location data into dataframe
df_data = pd.merge(df, merge_cols, on='lieu', how='inner')
df_data = df_data.dropna(subset=['country'])

# Data Cleaning

In [61]:
# drop runners with missing birth year
df_data.drop(df_data.loc[df_data['an'] == '????'].index, axis=0,inplace=True)
df_data.drop(df_data.loc[df_data['an'] == '??'].index, axis=0,inplace=True)

# drop disqualified runners (no time / rank)
df_data.drop(df_data.loc[df_data['temps'].str.contains('-')].index, axis=0, inplace=True)

# Normalize birth years to 4 digits
df_data['an'] = df_data['an'].astype(int)
df_data['an'] = df_data['an'].apply(lambda x: 1900+x if x < 100 else x)

# Drop unused columns
df_data.drop(['lieu','doss','retard'], axis=1, inplace=True)

# Rename columns
rename_columns = {
    'rang': 'rank',
    'an': 'birth year',
    'nom': 'name',
    'temps': 'time',
    'format_city': 'city',
    'Canton': 'canton',
    'country': 'country',
    'lat': 'latitude',
    'lng': 'longitude'
}
df_data.rename(columns=rename_columns, inplace=True)

# Remove NaN locations
df_data.drop(df_data[df_data['city'].isnull() == True].index, axis=0, inplace=True)

# Calculate age
df_data['age'] = df_data['race year'] - df_data['birth year']

# Create age groups
def ageGroup(x):
    if x >= 20 and x < 30:
        return '20-30'
    elif x >= 30 and x < 40:
        return '30-40'
    elif x >= 40 and x < 50: 
        return '40-50'
    else:
        return 'other'
df_data['age group'] = df_data['age'].apply(ageGroup)

df_data['canton'] = df_data['canton'].fillna('')

In [62]:
# Reorder columns
df_data = df_data[['name','birth year','age','age group','gender','race year','category','rank','time','city','canton','country','latitude','longitude']]

In [63]:
# Check NaNs
df_data.isnull().sum()

name          0
birth year    0
age           0
age group     0
gender        0
race year     0
category      0
rank          0
time          0
city          0
canton        0
country       0
latitude      0
longitude     0
dtype: int64

In [64]:
df_data.head()

,name,birth year,age,age group,gender,race year,category,rank,time,city,canton,country,latitude,longitude
0,Aarskog Kay-Morten,1981,36,30-40,male,2017,10,676.,"1:15.48,7",Oteren,Troms,NO,69.255568,19.884419
1,Haaland Arne Kristoffer,1981,36,30-40,male,2017,21,179.,"1:37.17,0",Oteren,Troms,NO,69.255568,19.884419
2,Abadie Théo,1994,23,20-30,male,2017,21,484.,"2:03.37,1",Ecublens,VD,CH,46.529636,6.561525
3,Alves Maria,1978,39,30-40,female,2017,10,315.,"56.25,6",Ecublens,VD,CH,46.529636,6.561525
4,Angües José,1993,24,20-30,male,2017,10,423.,"52.59,6",Ecublens,VD,CH,46.529636,6.561525

In [65]:
df_data.to_csv('../data/marathon_data.csv')