In [2]:
from bs4 import BeautifulSoup as bs
import requests
import re
import json
import urllib.parse
import csv
import pickle
import pandas as pd
import numpy as np

In [2]:
api_key = ""

In [3]:
def get_goedata(address, api_key):
    
    address = urllib.parse.quote(address)
    url = "https://maps.googleapis.com/maps/api/geocode/json?address={city}&key={key}".format(city=address, key=api_key)
    city = ""
    canton = ""
    country = ""
    lat = 0
    lng = 0
    
    data = requests.get(url)
    geodata = json.loads(data.text)
    if geodata['status'] == "OK":
        for level in geodata["results"][0]["address_components"]:
            if "locality" in level["types"]:
                city = level['short_name']
            if 'administrative_area_level_1' in level["types"]:
                canton = level['short_name']
            if 'country' in level["types"]:
                country = level['short_name']
        lat = geodata["results"][0]['geometry']['location']['lat']
        lng = geodata["results"][0]['geometry']['location']['lng']

    return (city, canton, country, lat, lng)

In [5]:
df = pd.read_csv("../data/marathon-data.csv" ,sep='\t')

In [6]:
df.head(50)

,Unnamed: 0,doss,retard,nom,cat√©gorie,rang,an,lieu,temps,race-year
0,0,(3001),"55.32,7",Abbitt Pamela,SD4,66.,50,GB-Luton,"2:30.44,4",2002
1,1,(3002),"40.25,0",Abbitt Philip,SH4,182.,52,GB-Luton,"2:02.23,2",2002
2,2,(9411),"52.40,0",Abderhalden Seth,RH,248.,44,Renens VD,"1:29.58,1",2002
3,3,(101),"47.01,7",Abdulaziz Sirwan,MH3,83.,60,Vernier,"3:13.32,2",2002
4,4,(102),"2:56.38,8",Abe Shinya,MH4,222.,49,JPN-Ibaraki 310-0066,"5:39.21,8",2002
5,5,(33),"20.33,8",Abosa Emebet,MD1,3.,77,ETH-Ethiopie,"2:49.37,0",2002
6,6,(9001),"14.54,0",Abraham Michel,RH,99.,46,F-Pontarlier,"52.12,1",2002
7,7,(9003),"9.15,1",Abt Hans,RH,39.,47,Studen BE,"46.33,2",2002
8,8,(3004),"37.04,5",Accetta-Parisi Vicenzo,SH2,340.,69,Belmont-Lausanne,"1:45.12,4",2002
9,9,(3005),"40.55,4",Aceti Vendrani Daniela,SD2,137.,68,St-Saphorin-Morges,"2:01.49,9",2002
10,10,(6001),"22.47,3",Ackermann Anne-Pierre,QD1,138.,80,Lausanne,"58.08,0",2002
11,11,(3006),"23.35,3",Ackermann Monika,SD2,36.,66,Wolfwil,"1:44.29,8",2002
12,12,(104),"1:24.13,6",Ackermann Stefan,MH2,319.,71,Fribourg,"3:43.13,8",2002
13,13,(3007),"35.05,5",Ackermann Ueli,SH3,226.,57,Biel/Bienne,"1:47.03,7",2002
14,14,(105),"1:31.13,7",Adamek Christian,MH3,334.,58,F-Ste Suzanne,"3:57.44,2",2002
15,15,(106),"1:17.16,7",Addor Bertrand,MH2,284.,72,Yverdon-les-Bains,"3:36.16,9",2002
16,16,(9318),"33.10,0",Adenot Joel,RH,215.,77,Lausanne,"1:10.28,1",2002
17,17,(3009),"44.28,8",Adobati Aldo,SH3,331.,61,Laupen ZH,"1:56.27,0",2002
18,18,(3010),"36.33,4",Adobati Daniela,SD2,106.,67,Laupen ZH,"1:57.27,9",2002
19,19,(107),"1:02.09,6",Aeberhard Bruno,MH2,175.,69,Herzogenbuchsee,"3:21.09,8",2002
20,20,(6002),"33.30,2",Aebi Celine,QD1,192.,79,Les Plans-sur-Bex,"1:08.50,9",2002
21,21,(10458),"7.46,9",Aebi Salman,K3,59.,91,La Conversion,"22.46,2",2002
22,22,(108),"1:22.57,4",Aebi Werner,MH4,154.,48,Wettswil,"4:05.40,4",2002
23,23,(3011),"38.13,9",Aebischer J√ºrg,SH2,358.,68,Niederscherli,"1:46.21,8",2002
24,24,(6003),"22.42,1",Aeby Francois,QH3,178.,54,Lausanne,"55.16,8",2002
25,25,(3012),"28.02,7",Aeby Marc,SH1,105.,84,Dompierre,"1:38.10,8",2002
26,26,(7590),"24.46,1",Aeby Michel,QH5,53.,34,Lausanne,"1:03.20,4",2002
27,27,(6004),"16.27,0",Aeby Patrick,QH2,169.,68,Lutry,"47.31,0",2002
28,28,(6005),"24.43,1",Aeby Rene,QH5,52.,42,Lausanne,"1:03.17,4",2002
29,29,(3013),"49.00,7",Aegerter Jean-David,SH1,228.,76,Corseaux,"1:59.08,8",2002
30,30,(3014),"45.52,8",Aellen C√©dric,SH2,453.,71,Saint-Imier,"1:54.00,7",2002
31,31,(9424),"27.07,5",Aellen Jose,RH,200.,27,Sierre,"1:04.25,6",2002
32,32,(3015),"15.19,0",Aepli Marie-France,SD3,8.,62,Bern,"1:37.14,5",2002
33,33,(3016),"17.51,0",Aerni Erika,SD4,9.,50,Laupen,"1:53.02,7",2002
34,34,(3017),"16.19,3",Aeschlimann Jean-Daniel,SH4,43.,43,Uettligen,"1:38.17,5",2002
35,35,(3018),"27.45,8",Aeschlimann Jean-Marc,SH4,116.,48,Bex,"1:49.44,0",2002
36,36,(6006),"12.26,7",Agocs Marc,QH1,66.,74,Pully,"41.30,9",2002
37,37,(5398),"49.41,5",Agostinetti Pascal,SH1,229.,73,Pully,"1:59.49,6",2002
38,38,(6007),"7.43,4",Agrifoglio Arido,QH3,33.,57,Cheseaux-Lausanne,"40.18,1",2002
39,39,(10001),-----,Agrifoglio Celine,K7,1.,92,Cheseaux-Lausanne,"17.36,2",2002
40,40,(10002),"4.46,5",Agrifoglio Christelle,K8,25.,90,Cheseaux-Lausanne,"19.49,9",2002
41,41,(109),"47.12,5",Aguettand Claude,MH4,45.,48,Grandvaux,"3:29.55,5",2002
42,42,(5159),"1:05.13,5",Aguizar Roberto,SH1,249.,82,Clarens,"2:15.21,6",2002
43,43,(6008),"27.20,9",Ahlowalia Bina,QD2,170.,66,Z√ºrich,"1:02.41,7",2002
44,44,(3019),"29.44,5",Ahumada Ciro,SH2,207.,65,Lausanne,"1:37.52,4",2002
45,45,(5273),"45.16,1",Aiba Ryohei,SH1,209.,86,Leysin,"1:55.24,2",2002
46,46,(6010),"28.21,7",Aiello Marco,QH1,211.,79,Pully,"57.25,9",2002
47,47,(10481),"3.30,5",Aita Florian,K2,29.,93,Bottens,"19.55,0",2002
48,48,(7659),"16.43,8",Aita Moreno,QH2,175.,65,Bettens,"47.47,8",2002
49,49,(7632),"15.52,9",Akamatsu Yuki,QH1,110.,86,Leysin,"44.57,1",2002

In [7]:
df = df.replace(np.nan, '', regex=True)

In [9]:
def translate_geodata(city_list, reset_idx=False):
    city_dict = {}
    idx = None
    try:
        print('Trying to load data from pickle')
        if reset_idx:
            idx = 0
            pickle.dump(0, open('../data/last_index.p', 'wb'))
        else:
            idx = pickle.load(open('../data/last_index.p', 'rb'))
    except (OSError, IOError) as e:
        print("load data error")

    print('Starting translating from {}'.format(idx))
    try:
        city_list = city_list[idx: ]
        for city in city_list:
            if len(city):
                city_dict[city] = get_goedata(city, api_key)
            idx += 1
            if idx % 1000 == 0:
                print(idx)
        else:
            print("Finish at {}".format(idx))
            update_dict(city_dict,idx)
            
    except Exception as e:
        print(e)
        print(idx)
        update_dict(city_dict,idx)

def update_dict(city_dict,idx):
    old_dict = pickle.load(open('../data/city_geo.p', 'rb'))
    city_dict.update(old_dict)
    pickle.dump(city_dict, open('../data/city_geo.p', 'wb'))
    pickle.dump(idx, open('../data/last_index.p', 'wb'))

In [10]:
city_list = list(df['lieu'].unique())

In [27]:
translate_geodata(city_list[:6001], False)

Trying to load data from pickle
Starting translating from 5999
6000
Finish at 6001

In [11]:
city_dicts = pickle.load(open('../data/city_geo.p', 'rb'))
city_dicts[''] = ('', '', '', 0, 0)
len(city_dicts.keys())

FileNotFoundError: [Errno 2] No such file or directory: '../data/city_geo.p'

In [68]:
df['format_city'] = df['lieu'].apply(lambda x :  city_dicts[str(x)][0])
df['Canton'] = df['lieu'].apply(lambda x :  city_dicts[str(x)][1])
df['country'] = df['lieu'].apply(lambda x :  city_dicts[str(x)][2])
df['lat'] = df['lieu'].apply(lambda x :  city_dicts[str(x)][3])
df['lng'] = df['lieu'].apply(lambda x :  city_dicts[str(x)][4])

In [1]:
df.head(10)

NameError: name 'df' is not defined

In [71]:
df.to_csv("../data/marathon-data-with-geo.csv" ,sep=',')