In [1]:
import numpy as np
import pandas as pd

In [3]:
df_marathon = pd.read_csv('marathon-data-with-geo.csv')
df_marathon.head()

,Unnamed: 0,Unnamed: 0.1,an,catégorie,doss,lieu,nom,race-year,rang,retard,temps,format_city,Canton,country,lat,lng
0,0,0,50,SD4,(3001),GB-Luton,Abbitt Pamela,2002,66.,"55.32,7","2:30.44,4",Luton,England,GB,51.878671,-0.420025
1,1,1,52,SH4,(3002),GB-Luton,Abbitt Philip,2002,182.,"40.25,0","2:02.23,2",Luton,England,GB,51.878671,-0.420025
2,2,2,44,RH,(9411),Renens VD,Abderhalden Seth,2002,248.,"52.40,0","1:29.58,1",Renens,VD,CH,46.533810,6.591370
3,3,3,60,MH3,(101),Vernier,Abdulaziz Sirwan,2002,83.,"47.01,7","3:13.32,2",Beaverton,OR,US,45.493410,-122.820398
4,4,4,49,MH4,(102),JPN-Ibaraki 310-0066,Abe Shinya,2002,222.,"2:56.38,8","5:39.21,8",Mito,Ibaraki Prefecture,JP,36.384788,140.463771

In [5]:
df_marathon = df_marathon.loc[:50]
df_marathon.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'an', 'catégorie', 'doss', 'lieu', 'nom',
       'race-year', 'rang', 'retard', 'temps', 'format_city', 'Canton',
       'country', 'lat', 'lng'],
      dtype='object')

In [7]:
df_marathon.drop(['Unnamed: 0', 'Unnamed: 0.1','doss', 'lieu','retard' ],axis = 1, inplace = True)

In [9]:
df_marathon.columns = ['Age','Category','Name','Race year','Rank','Time','City','Canton','Country','Latitude','Longitude']

In [12]:
df_marathon = df_marathon[['Category','Race year','Rank','Name','Age','Time','City','Canton','Country','Latitude','Longitude']]

In [ ]:
df_marathon.to_csv